.container{
    width: 100vw;
    height: 50px;
    position: fixed;
    display: flex;
    background-color: #1b1b1ba8 ;
}
.container .bnt-turn #button-less-than{
    margin-top: 8px;
    margin-left: 270px;
    padding: 3.5px 10px;
    font-size: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #000;
    color:#fff;
}
.container .bnt-turn #button-more-than{ 
    padding: 3.5px 10px;
    font-size: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #000;
    color:#fff;
}
.container .header-accont #button-subscribe{
    margin-top: 8.3px;
    display: fixed;
    margin-left: 20.5vw;
    padding: 6px 25px;
    border-radius: 7px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.452);
    border: 2px solid rgba(255, 255, 255, 0.452);
    background-color: rgba(16, 15, 15, 0);
    cursor: pointer;
}
.container .header-accont #button-subscribe:hover{
    transition: 1s;
    color:  #fff;
    border: 2px solid #fff; 
}
.container .header-accont #button-enter{
    margin-top: 5.3px;
    margin-left: 5px;
    padding: 8px 30px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #420d77;
    cursor: pointer;
}