.container-main .linha1 h1{
    display: flex;
    position: fixed;
    color: #fff;
    margin-left: 280px;
    margin-top: 80px;
    font-size: 16px;
}
.container-main .linha1 h2{
    color: #fff;
    margin-top: 3px;
    font-size: 18px;
    margin-left: 8px;
}
.container-main .linha1 h3{
    color: rgba(255, 255, 255, 0.583);
    font-size: 12px;
    margin-top: 2px;
    margin-left: 8px;
}
.container-main .linha1 .album1{
    background-color: #333333ab;
    width: 170px;
    height: 220px;
    position: fixed;
    margin-left: 270px;
    margin-top: 105px;
}
.container-main .linha1 .album1 img{
    width: 160px;
    margin-left:5px;
    margin-top: 5px;
}
.container-main .linha1 .album1:hover{
    transition: 1s;
    background-color: #383838;
}
.container-main .linha1 .album2{
    background-color: #333333ab;
    width: 170px;
    height: 220px;
    position: fixed;
    margin-left: 450px;
    margin-top: 105px;
}
.container-main .linha1 .album2 img{
    width: 160px;
    margin-left:5px;
    margin-top: 5px;
}
.container-main .linha1 .album2:hover{
    transition: 1s;
    background-color: #383838;
}
.container-main .linha1 .album3{
    background-color: #333333ab;
    width: 170px;
    height: 220px;
    position: fixed;
    margin-left: 630px;
    margin-top: 105px;
}
.container-main .linha1 .album3 img{
    width: 160px;
    margin-left:5px;
    margin-top: 5px;
}
.container-main .linha1 .album3:hover{
    transition: 1s;
    background-color: #383838;
}
.container-main .linha1 .album4{
    background-color: #333333ab;
    width: 170px;
    height: 220px;
    position: fixed;
    margin-left: 810px;
    margin-top: 105px;
}
.container-main .linha1 .album4 img{
    width: 160px;
    margin-left:5px;
    margin-top: 5px;
}
.container-main .linha1 .album4:hover{
    transition: 1s;
background-color: #383838;
}
.container-main .linha1 .album5{
    background-color: #333333ab;
    width: 170px;
    height: 220px;
    position: fixed;
    margin-left: 990px;
    margin-top: 105px;
}
.container-main .linha1 .album5 img{
    width: 160px;
    margin-left:5px;
    margin-top: 5px;
}
.container-main .linha1 .album5:hover{
    transition: 1s;
    background-color: #383838;
}
.container-main .linha1 .album6{
    background-color: #333333ab;
    width: 170px;
    height: 220px;
    position: fixed;
    margin-left: 1170px;
    margin-top: 105px;
}
.container-main .linha1 .album6 img{
    width: 160px;
    margin-left:5px;
    margin-top: 5px;
}
.container-main .linha1 .album6:hover{
    transition: 1s;
background-color: #383838;
}